.menu__lista{
    display: inline-flex;
    align-items: baseline;
    justify-content: space-around;
}
.menu__item {
    list-style: none;
    padding: .5rem;
}
.menu__link{
    text-decoration: none;
    color: #808080;
}
.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}
.menu__link:hover {
    text-decoration: underline;
}
.menu__item select{
    border: 0;
    color: #808080;
    background-color: transparent;
}