.menu-lista{
    display: inline-flex;
    align-items: baseline;
    justify-content: space-around;
}
.menu-item {
    list-style: none;
    padding: .5rem;
}
.menu-link{
    text-decoration: none;
    color: #808080;
}
.menu-link.ativo {
    color: #333333;
    font-weight: bold;
}
.menu-link:hover {
    text-decoration: underline;
}
.menu-item select{
    border: 0;
    color: #808080;
}