.contato{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.contato__titulo{
    color: #ffffff;
    font-size: 1.3rem;
    margin-right: .5rem;
}
.contato__bloco{
    background-color: #8D0606;
    height: 40px;
    width: 40px;
    margin-right: .5rem;
}