@media screen and (min-width: 0px) {
    .rodape {
        background-color: #C4C4C4;
        display: flex;
        height: 7rem;
        justify-content: center;
        align-items: inherit;
    }
}
@media screen and (min-width: 1024px) {
    .rodape{
        align-items: center;
        height: 5rem;
        justify-content: flex-end;
    }
}