header{
    background-color: #f9f9f9;
}
.container {
    padding: 0 1.5rem;
}
.banner, .chamada, .quem-somos{
    text-align: center;
}
.chamada, .quem-somos {
    padding: 3.5rem;
}
.banner__titulo, .chamada__titulo, .quem-somos__titulo{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.chamada__titulo, .quem-somos__titulo {
    color: #8D0606;
    font-size: 3rem;
}

.chamada__subtitulo, .quem-somos__descricao{
    font-family: 'Roboto', sans-serif;
    color: #8C8888;
    font-size: 1.6rem;
    font-weight: 100;
}