header{
    background-color: #f9f9f9;
}
.container {
    padding: 0 1.5rem;
}
.banner, .chamada{
    text-align: center;
}
.banner__titulo, .chamada__titulo{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}