.receita {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.receita__conteudo {
    padding: 1rem;
    background-color: #fdfdfd;
}
.receita__imagem {
    width: -webkit-fill-available;
}
.receita__titulo {
    font-weight: 400;
    font-size: 1.2rem;
}
.receita__descricao {
    text-align: justify;
}
.receita__botao {
    background-color: #8D0606;
    border: 0;
    padding: .5rem 1rem;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.receita__botao:hover{
    cursor: pointer;
    background-color: #620404;
}

@media screen and (min-width: 0px) {
    .receita {
        width: 100%;
        padding: 0 1rem 4rem 1rem;
    }
}
@media screen and (min-width: 768px) {
    .receita {
        width: 45%;
    }
}
@media screen and (min-width: 992px) {
    .receita {
        width: 22%;
        padding: 0 2rem 4rem 2rem;
    }
}