.banner{
    display: flex;
    flex-direction: column;
    position: relative;
}
.banner__img{
    background: url('../../img/banner.jpg') no-repeat center / cover;
    height: calc(100vh - 69px);
    width: 100%;
}
.banner__titulo{
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 0 4px 4px #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
@media screen and (min-width: 0px) {
    .banner__img {
        height: calc(100vh - 212px);
    }
}
@media screen and (min-width: 768px) {
    .banner__titulo{
        font-size: 4rem;
    }
}