.banner{
    display: flex;
    flex-direction: column;
    position: relative;
}
.banner__img{
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 69px);
    width: 100%;
}
.banner__titulo{
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 0 4px 4px #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}